.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:min(1200px,95%);

    height:72px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 2rem;

    border-radius:18px;

    z-index:1000;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.35);

    box-shadow:0 10px 35px rgba(0,0,0,.08);

    transition:all .35s ease;

}

.navbar.scrolled{

    background:rgba(255,255,255,.88);

    backdrop-filter:blur(24px);

    -webkit-backdrop-filter:blur(24px);

    box-shadow:0 12px 40px rgba(0,0,0,.15);

}

.logo{
    width:62px;
}

.logo-container{
    display:flex;
    align-items:center;
}

.logo-text{
    margin-left:-0.8rem;
    font-size:24px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:2.5rem;
}

.nav-items{

    display:flex;

    gap:1.8rem;

}

.nav-items div{

    font-size:17px;

    font-weight:500;

}

.nav-items a{
    color:black;
    text-decoration:none;
    transition:.3s;
}

.nav-items a:hover{
    color:var(--bgOrange);
}

.nav-icons{

    display:flex;

    gap:1rem;

}

.nav-icons a{

    font-size:1.35rem;

    transition:.3s;

}

.nav-icons a:nth-child(1){
    color:#181717;
}

.nav-icons a:nth-child(2){
    color:#0A66C2;
}

.nav-icons a:nth-child(3){
    color:#FFA116;
}

.nav-icons a:hover{
    transform:translateY(-3px);
}

.hamburger{
    display:none;
    font-size:2rem;
    cursor:pointer;
}

/* ===================== */
/* Tablet & Mobile */
/* ===================== */

@media(max-width:900px){

@media (max-width:992px){

.navbar{

    width:95%;

    height:65px;

    padding:0 1.5rem;

}

.logo{

    width:55px;

}

.logo-text{

    font-size:20px;

}

}

.hamburger{
    display:block;
}

.nav-right{

    position:absolute;

    top:90px;
    right:0;

    width:260px;

    background:white;

    flex-direction:column;

    align-items:center;

    padding:2rem;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    transform:translateX(120%);

    transition:.4s;

    z-index:1000;

}

.nav-right.active{

    transform:translateX(0);

}

.nav-items{

    flex-direction:column;

    align-items:center;

}

.nav-icons{

    margin-top:1rem;

}

}

@media (max-width:768px){

.navbar{

    top:10px;

    width:95%;

    height:60px;

    border-radius:15px;

    padding:0 1rem;

}

.logo{

    width:50px;

}

.logo-text{

    font-size:18px;

}

}

/* Desktop */

@media(min-width:901px){

.nav-right{

    display:flex !important;

}

}